*{
    padding: 0%;
    margin: 0%;
}

body {
    color: #fff; 
}

.image{
    width: 100%;
}

#moon{
    position: absolute;
    z-index: -1;
    opacity: 10;
    width: 100%;
    height: 100%;
}

h1, 
h2 {
    color: lightblue;
    /* color: #313740; */
    font-family: 'Montserrat', sans-serif;
}

#lineBreak{
    color: green;
    height: 50%;
}

a {
    color: #3290A6;
    font-family: 'Archivo', sans-serif;
}

a:hover {
    color: #99B8BF;
    font-family: 'Archivo', sans-serif;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #343a40;
}

#finalScore {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

span {
    font-family: 'Archivo', sans-serif;
}

p {
    font-family: 'Archivo', sans-serif;
}

#questionTitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#answerCheck {
    font-style: italic;
    color: cyan;
}
